.env
/home/prajwalak/Desktop/code_anna_test_repos/youTalk
/home/prajwalak/Desktop/code_anna_test_repos/TravelCrafter
__pycache__
/home/prajwalak/Documents/privado-cli
/home/prajwalak/Desktop/CodeAnaa/test_repo